<div class="container">
	<div class="marketing">
		<h1>Shreddrs</h1>
		
		<br>  
		<input type="text" id="shredderSearch"
		class="input-medium search-query" placeholder="Search for a shredder">
		<p class="text-error"></p>

		<br>
		<a href="#" data-bypass="true" id="nextPage">Next</a>
		<hr> 
		
		{{#each items}}

		<div class="row-fluid">
			<div class="span3">
				<!--<img src="uploads/{{this.profileImagePath }}"
				alt="Profile img" class="img-small thumbnail" >-->
				<img src="assets/images/shredder.jpg"
				alt="Profile img" class="img-medium thumbnail" >
			</div>
			<div class="span9">
				<h3 class="lead"><a href="/#shredders/{{this.id}}">{{this.username }}</a>
				{{#if this.country}}
				<small>	({{this.country}})</small>
				{{/if}}</h3>

				<p><em>{{ this.playstyle }}</em></p>
				<p>Level: {{this.shredderLevel}}</p>
				<!-- /span10 -->
			</div>
			<!-- /row-fluid -->
		</div>
		<hr>
		{{/each}}

		
		<!-- /marketing -->
	</div>
	<!-- /container -->
</div>
	<hr>

<footer>
	<p>&copy; Shreddr 2013</p>
</footer>