<div class="container battle">
	<div class="banner">
		<img src="assets/app/images/stage-4.jpg">
		<div class="battlers">					
			<div class="row-fluid">
				<div class="span5">
					<div class="photo">
						<img class="img-large-f" src="uploads/{{b.battler.profileImagePath}}"/>
						<img class="img-icon" src="assets/app/images/10.png"/>
						<h3 class="photo-label">{{b.battler.username}}</h3>
						<h4> 52 % </h4>
					</div>
				</div>
				<div class="span2">
					<h1 class="vs">VS</h1>
					<h4>{{b.battleStyle}}</h4>
				</div>
				<div class="span5">
					<div class="photo">
						<img class="img-large-f" src="uploads/{{b.battlee.profileImagePath}}"/>
						<img class="img-icon" src="assets/app/images/5.png"/>
						<h3 class="photo-label">{{b.battlee.username}}</h3>
						<h4> 48 % </h4>
					</div>
				</div>
			</div> <!-- /row-fluid -->
		</div>
	</div><!-- /banner -->

	<div class="well">
		{{#if canAdd}}
			<div class="box">
				<p class="lead">Add a new battle shred</p>
				<p><input type="file" id="guitarFileId" title="foo"></p>
			</div>
		{{/if}}

		{{#each b.battleRounds}}
		<div class="row-fluid">
			<div class="span5">
					<video class="video-js vjs-default-skin battle-video" controls>
					<source src="uploads/{{this.battlersShred.videoPath}}" type='video/mp4'>
					</video>
					<div class="underShredImage">
						<p>Rating: <small id="rating">{{shredRating.currentRating}}</small> 
						<small><span>Created: {{timeCreated}}</span></small></p>
						<p>Raters: <small id="nRaters">{{shredRating.numberOfRaters}}</small>
						<small><span>Views: {{viewed}}</span></small></p>
					</div>

				<div class="span6 offset2">
					
					<em>You're going down bitch!</em>
				</div>

				<div class="span11 offset1">
					<p class="text-left">Rate it! 
						<input type="range" name="Rating" min="1" max="10">					
						<button class="rateBtn btn btn-small btn-inverse" id="rate-er-{{@index}}">Rate</button></p>
				</div>
			</div>

			<div class="span2">
				<h1 class="round">Round<br>1/5</h1>
				<i class="icon-chevron-left"></i>
				<i class="icon-chevron-right"></i>
			</div>

			<div class="span5">
					{{#if this.battleesShred}}
						<video class="video-js vjs-default-skin battle-video" controls>
						<source src="uploads/{{this.battleesShred.videoPath}}" type='video/mp4'>
						</video>
						<div class="underShredImage">
						<p>Rating: <small id="rating">{{shredRating.currentRating}}</small> 
							<small><span>Created: {{timeCreated}}</span></small></p>
							<p>Raters: <small id="nRaters">{{shredRating.numberOfRaters}}</small>
							<small><span>Views: {{viewed}}</span></small></p>
						</div>
					<div class="span6 offset2">
						<em>Taste my SHRED-WRATH yo!</em>
					</div>

					<div class="span11 offset1">
						<p class="text-left">Rate it! 
							<input type="range" name="Rating" min="1" max="10">
							<button class="rateBtn btn btn-small btn-inverse" id="rate-ee-{{@index}}">Rate</button></p>
							{{/if}}
					</div>
			</div>
		</div> <!-- /row-fluid -->
		{{/each}}
	</div> <!-- /well -->
</div> <!-- /battle -->
