<!-- Navbar 
    ================================================== -->
<div id="navbar-mid" class="navbar navbar-fixed-top">
	<div class="navbar-inner">
		<div class="container">
			<button type="button" class="btn btn-navbar" data-toggle="collapse"
				data-target=".nav-collapse">
				<span class="icon-bar"></span> <span class="icon-bar"></span> <span
					class="icon-bar"></span>
			</button>
			<a class="brand" href="#">Shredhub</a>
			<div class="nav-collapse collapse">
				<ul class="nav">
					<li><a href="#shredpool">The Shredpool</a></li>
					<li><a href="#battles/">Battles</a></li>
					<li><a href="#shredders">Shredders</a></li>
					<li><a href="#About">About</a></li>
					<li><a href="Contact">Contact</a></li>
					<li class="divider-vertical"></li>
					<li class="navbar-icon"> 
						<i id="popover" class="navbar-content icon-trophy icon-2x" data-toggle="popover"
						data-placement="bottom" title="Battle Requests"
						data-content="<ul class='battleRequestList'> 								
									<li>
									 <p>
									 	<img src='uploads/slash.jpg' class='battleThumb leImg battleReqModal'/> 
									 	Slash</a>
									 	<button class='btn btn-small btn-success batReqAcc'>Accept</button>
									 	<button class='btn btn-small batReqDec'> Decline</button>
									 </p>
									 <p><em><a href='#' class='battleReqModal'>Bet you cant shred this</a></em></p>
								</li>  
								<li>
									 <p>
									 	<img src='uploads/slash.jpg' class='battleThumb leImg battleReqModal'/> 
									 	Slash</a>
									 	<button class='btn btn-small btn-success batReqAcc'>Accept</button>
									 	<button class='btn btn-small batReqDec'> Decline</button>
									 </p>
									 <p><em><a href='#' class='battleReqModal'>Bet you cant shred this</a></em></p>
								</li>  
								<li>
									 <p>
									 	<img src='uploads/slash.jpg' class='battleThumb leImg battleReqModal'/> 
									 	Slash</a>
									 	<button class='btn btn-small btn-success batReqAcc'>Accept</button>
									 	<button class='btn btn-small batReqDec'> Decline</button>
									 </p>
									 <p><em><a href='#' class='battleReqModal'>Bet you cant shred this</a></em></p>
								</li>  
							</ul>"></i>
					</li>
					<li class="navbar-icon">
						<i class="navbar-content icon-gittip icon-2x" title="New Notices"></i>
					</li>
					<li class="navbar-icon">
						<i class="navbar-content icon-music icon-2x" title="Upload Shred"></i>
					</li>
					<li class="divider-vertical"></li>
				</ul>



				<ul class="nav pull-right">

					<li><a href="#editProfile" class="navbar-content">
						<img class="img-xsmall" src="assets/app/images/slash.jpg"></img></a></li>
					<li><a href="/#logout">Log out {{username}}</a></li>
				<ul>
			</div>
		</div>
	</div>
</div>

<div id="battleReqWrapper"></div>



<!--
					<li class="">

						<div class="btn-group">
							<button class="btn btn-info btn-small">Battle Requests</button>
							<button class="btn btn-info btn-small dropdown-toggle" data-toggle="dropdown">
								<span class="caret"></span>
							</button>
							<ul class="dropdown-menu battleRequestList"> 
								{{#each battleRequests}}
									<li>
									 <p>
									 	<img src="uploads/{{this.battler.profileImagePath}}" class="battleThumb leImg battleReqModal" id="batReq-{{@index}}"/> 
									 	{{this.battler.username}}</a>
									 	<button class="btn btn-small btn-success batReqAcc" id="batReqAcc-{{@index}}">Accept</button>
									 	<button class="btn btn-small batReqDec" id="batReqDec-{{@index}}"> Decline</button>
									 </p>
									 <p><em><a href="#" class="battleReqModal" id="battlereqA-{{@index}}">{{this.battleStyle}}</a></em></p>
								</li>  
								{{/each}}
							</ul>
						</div>

					</li>
					
					<li class="">
						<div class="btn-group faneesBtn">
							<a class="btn btn-info dropdown-toggle" data-bypass="true" data-toggle="dropdown"
								href="#">You're Fanees<span class="caret"></span>
							</a>
							<ul class="dropdown-menu">
								{{#each fanees}}
									<li>
										<a href="/#shredders/{{this._id}}">{{this.username }}</a>
									</li>
								{{/each}}
							</ul>
						</div>
					</li>

					-->