<div id="shredModal" class="modal hide fade shredModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">

  <div class="row-fluid top">
    <div class="span11">
      <h1>{{owner.username}} <small> ({{country}}) </small></h1>
      <p class="lead"> - {{title}}</p>
    </div> <!-- /span12 -->

    <div class="span1">
      <button type="button" class="btn btn-inverse" data-dismiss="modal" aria-hidden="true">close</button>
    </div>

  </div><!-- /row fluid -->


  <div class="row-fluid center">
    <div class="span1">
       <p class="lead instrx">Tags:</p>
        {{#each tags}}
          <p><span class="label label-inverse" style="float:none">{{this}}</span> </p>
          {{/each}}
    </div>
    <div class="span8">
     <video id="leShredVideo" class="video-js vjs-default-skin" controls width="720">
     <source src="{{videoPath}}">
     </video>
     <div class="underShredImage">
      <div id="footnote"></div>
      <p>Rating: <small id="rating">{{shredRating.currentRating}}</small> 
        <small><span>Created: {{timeCreated}}</span></small></p>
        <p>Raters: <small id="nRaters">{{shredRating.numberOfRaters}}</small>
          <small><span>Views: {{viewed}}</span></small></p>
        </div>

        <blockquote>
          <p>{{description}}</p>
        </blockquote>


      </div> <!-- /span8 -->
      <div class="span3">
       <p class="lead instrx">Comments</p>

       <ul>
        <div id="commentsList">
          {{#each shredComments}}
          <li class="comments">
            <a> <small> {{this.commenterName}} <span>{{this.timeCreated}}</span></small></a>
            <p>{{this.text}}</p>
          </li>
          {{/each}}
        </div>

        <li>
          <textarea rows="2" autofocus id="commentText" placeholder="Leave a comment!"></textarea>
        </li>

        <li>
          <p class="instrx text-left">Rate it! 
            <input type="range" name="Rating" min="1" max="10">
            <button class="btn btn-inverse btn-small" id="rateBtn">Rate</button>
          </p>
        </li>
      </ul>
    </div> <!-- /span3 -->
  </div> <!-- /row-fluid -->

  <div class="row-fluid">
    <div class="span1" id="prevTabsBnt"> <li class="icon-chevron-left icon-2x"></li></div>
      <div class="span10">
        <div class="tab">
          <canvas id="bars" style="width:100%; height:60px"></canvas>
        </div>
      </div>
      <div class="span1" id="nextTabsBtn"><li class="icon-chevron-right icon-2x"></li> </div>
    </div>
  
</div>