<a href="#" class="shredItem">
	<img class="img-medium" src="uploads/thumbs/{{videoThumbnail}}">
</a>
<div class="caption">
	<h6><a href="/#shredders/{{owner._id}}">{{owner.username}}</a></h6>
	<p>{{title}}</p>
	
	{{#each tags}}
	<span class="label label-inverse" style="float:none">{{this}}</span> 
	{{/each}}
</div>