<h1>Shredder of the week</h1>
		<div class="row-fluid">
			<div class="span4">
				<img src="uploads/{{profileImagePath}}" 
				class="img-polaroid" style="margin-top:20px;">
			</div>
			<div class="span8">
				<legend>
					<h2>{{username}}</h2>
					<p class="text-center">Level {{shredderLevel}} - {{levelLabel}} </p> 
				</legend>

				<div class="row-fluid">
					<div class="span6">
						<p class="lead text-left">
							<i class="icon-music"></i>
							Shreds on a <strong>{{guitars}}</strong></p>

						<p class="lead text-left">
							<i class="icon-music"></i>
							Backed by a <strong>{{equiptment}}</strong></p>

						<p class="lead text-left">
							<i class="icon-music"></i>
							Lives in <strong>{{country}}</strong></p>
					</div>

					<div class="span6">
						<br><br>
						
						<p class="lead">
							Check out {{username}}'s stuff!</p>

							<a href="#shredders/{{id}}" class="btn btn-inverse">Yes.</a>
					</div>
				</div>

				<div class="shreds-label">
					<p class="lead">{{username}} Shreds like a beast
				</div>
				<div class="row-fluid">

					<ul class="thumbnails">
						{{#each shreds}}
						<li class="span3">
							<a href="#" class="thumbnail sotwItem" id="sotw-{{@index}}">
								<img data-src="holder.js/160x120" alt="" src="uploads/thumbs/{{this.videoThumbnail}}">
							</a>
						</li>
						{{/each}}
					</ul>
          		</div> <!-- row fluid -->
			</div>
		</div> <!-- /row-fluid -->